# Exploring and Analyzing MrBeast YouTube Comments

YouTube is not only a popular social media platform but is also the second largest search engine. Consequently, promotional content is a main staple on YouTube, reaching a very large audience. Videos are accompanied by a comments section which allow viewers to engage with content creators or other fans. With this level of engagement, companies flock to larger channels to offer sponsorships to promote products within a video in exchange for benefits.   

Of the many YouTube content creators, MrBeast is known for his unique expenditures and charitable acts, a lot of which are sponsored by companies which provide the capital. I am interested in analyzing YouTube comments on the MrBeast channel since his content is not controversial and I am curious to see if the comments are overwhelmingly positive as rumored. MrBeast often films with his good friends and I want to see who is the most popular across the videos (I suspect Chandler). Similarly, I want to see the most defining words the channel.

Moreover, to get the comments, I have to build and clean the dataset from scratch which is something I want to challenge myself to do. I can use this exposure to scraping to improve existing datasets or create new datasets to address business problems.

#### Import Libraries

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

!pip install emoji
from emoji import UNICODE_EMOJI

!pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

!pip install TextBlob
from textblob import TextBlob
from textblob import Word

Requirement already satisfied: emoji in /usr/local/lib/python3.6/dist-packages (0.6.0)
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: TextBlob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from TextBlob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->TextBlob) (1.15.0)

In [12]:
file_mrbeast = 'MrBeast_comments.csv'
df = pd.read_csv(file_mrbeast)
df.head()

   Unnamed: 0  ...   just_date
0           0  ...  2021-01-13
1           1  ...  2021-01-13
2           2  ...  2021-01-13
3           3  ...  2021-01-13
4           4  ...  2021-01-13

[5 rows x 12 columns]

In [13]:
# Remove comments by the author of the video i.e. MrBeast
comments = df.query('author_name != "MrBeast"')
comments.head()

   Unnamed: 0  ...   just_date
0           0  ...  2021-01-13
1           1  ...  2021-01-13
2           2  ...  2021-01-13
3           3  ...  2021-01-13
4           4  ...  2021-01-13

[5 rows x 12 columns]

In [14]:
def removeNewline(comment):
  return comment.str.replace("\n", " ")

In [15]:
comments['comment'] = removeNewline(comments['comment'])

In [16]:
comments.head()

   Unnamed: 0  ...   just_date
0           0  ...  2021-01-13
1           1  ...  2021-01-13
2           2  ...  2021-01-13
3           3  ...  2021-01-13
4           4  ...  2021-01-13

[5 rows x 12 columns]

#### Vader Sentiments

VADER (Valence Aware Dictionary for Sentiment Reasoning) is a model that is sensitive to both polarity and intensity of emotion. It relies on a dictionary that maps lexical feactures to emotion intensities as sentiment scores. The sum of the intensities of each word in text is the sentiment score. Here, I am using polarity classification since I only care if the text expresses a positive or negative opinion but not the degree of how positive or negative the text is. VADER can also tell something like "did not love" as negative when compared to just "love."

In [21]:
sentiment = SentimentIntensityAnalyzer()
sentiment.polarity_scores(comments.comment[0])
comments['vader_sentiment'] = comments.comment.apply(lambda x: sentiment.polarity_scores(x))
comments['vader_neg_sentiment'] = comments.vader_sentiment.apply(lambda x: x['neg'])
comments['vader_pos_sentiment'] = comments.vader_sentiment.apply(lambda x: x['pos'])
comments['vader_neu_sentiment'] = comments.vader_sentiment.apply(lambda x: x['neu'])
comments['vader_comp_sentiment'] = comments.vader_sentiment.apply(lambda x: x['compound'])

Positive sentiment

In [22]:
comments.sort_values(by=['vader_comp_sentiment'], ascending=False)[['comment']].head()

                                                comment
5567  This made my day 😊😊😊😊😊😊😊😊😊☺️☺️☺️😊😊😊😊😊😊😊😊😊😊😊😊😊😊...
1325  When the guy go to the table and he jumped and...
4082  ❤️❤️❤️😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍😍❤️❤️❤️❤️❤️❤️❤️...
6797  Im from Philippines i hipe mr beast visit me h...
6555                          😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😔😂😂😂😂😂

Neutral sentiment

In [26]:
vader_neutral = comments.query('vader_comp_sentiment == 0').rename(columns={"comment": "vader_comment"})[['vader_comment']].reset_index(drop=True)
vader_neutral

                                          vader_comment
0                                             Relatable
1                                  Chandler:eats a rose
2                     I SAW MR.BEAST GET TO 51 MILLION!
3                                       Buy a franchise
4     Iv heard people say you shouldnt donate to sal...
...                                                 ...
5279  Is it just me who was watching the football in...
5280                      How do you have so much money
5281                                     Elise Stefanik
5282                            Ryan did the spoon flip
5283                                    Chan Chan's Dog

[5284 rows x 1 columns]

Negative sentiment

In [20]:
comments.sort_values(by=['vader_comp_sentiment'], ascending=True)[['comment']].head()

                                                comment
8743                               😥😥😥😥😥😥😢😢😢😢😢😢😢😢😢😢😢😱😱😱
3022  PEWDIEDIE AAAAAAAAH 💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥!!!!!!...
8511                       So sad for chandler 😭😭😭😭😭😭😭😭
5617  My reaction: *H* 😄😥😫😓🤤😝😤😞😖😲🤑😵🥴🤯😨😭😱🥺     *Fricc...
2493                  I feel so bad for chandler 😢😢😢😢😢😢

This is more like pity... Let's try something else.

#### Textblob Sentiments

In [23]:
comments['textblob_polarity'] = comments['comment'].map(lambda text: TextBlob(text).sentiment.polarity)
comments['comment_len'] = comments['comment'].astype(str).apply(len)
comments['word_count'] = comments['comment'].apply(lambda x: len(str(x).split()))

Positive sentiment

In [24]:
comments.sort_values(by=['textblob_polarity'], ascending=False)[['comment', 'textblob_polarity']].head()

                                                comment  textblob_polarity
8705  Teacher: THE BEST JOB IN TH WORLD IS WHAT?  ST...                1.0
6961  4:05 he says microwaves are the best but look ...                1.0
2835                                  Best channel ever                1.0
3163             You have a lot of fans from Croatia <3                1.0
4336  Help me. Please donate me some money. Perfect ...                1.0

Neutral sentiment

In [28]:
textblob_neutral = comments.query('textblob_polarity == 0').rename(columns={"comment": "textblob_comment"})[['textblob_comment']].reset_index(drop=True)
textblob_neutral

                                       textblob_comment
0                                             Relatable
1                     I SAW MR.BEAST GET TO 51 MILLION!
2                                       Buy a franchise
3     Iv heard people say you shouldnt donate to sal...
4                            *what if he goes bankrupt*
...                                                 ...
6770                                     Elise Stefanik
6771                            Ryan did the spoon flip
6772    why am i just now seeing this on my recommended
6773                                    Chan Chan's Dog
6774                    Food banks   Am I a joke to you

[6775 rows x 1 columns]

Negative sentiment

In [25]:
comments.sort_values(by=['textblob_polarity'], ascending=True)[['comment', 'textblob_polarity']].head()

                                                comment  textblob_polarity
6674                                 this is insane aaa               -1.0
6869  How dare you guys use lightning McQueens cars ...               -1.0
6858                         im getting insane watching               -1.0
1074  Thats insane man, he now has cameramans. Becau...               -1.0
3905                                     Its terrifying               -1.0